<app-navbar></app-navbar>
<div class="container-fluid">

  <div class="row">
 
    <div class="col-lg-2 col-md-3 col-sm-4 sidebar">
      
      <div class="list-group mt-5">
        <h5 class="text-center">Welcome <strong>{{username.name | uppercase}}</strong></h5>
        <br>
        <br>
        <button type="button" class="list-group-item btn" (click)="showProducts()">
          Products
        </button>
        <br>
        <button type="button" class="list-group-item  btn" (click)="showCategories()">
          Categories
        </button>
        <br>
        <button type="button" class="list-group-item  btn" (click)="showSuppliers()">
          Suppliers
        </button>
        <br><br>
        <button class="btn btn-danger btn-block" (click)="logout()">Logout</button>
      </div>
    </div>
  
    <!-- main Content -->
    <div class="col-lg-10 col-md-9 col-sm-8 main-content">

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
