<div class="container-fluid">
  <div class="row">
 
    <div class="col-lg-2 col-md-3 col-sm-4 sidebar">
      
      <div class="list-group mt-5">
        <p class="text-center">Welcome {{username}}</p>
        <button type="button" class="list-group-item list-group-item-action" (click)="showProducts()">
          Products
        </button>
        <button type="button" class="list-group-item list-group-item-action" (click)="showCategories()">
          Categories
        </button>
        <button type="button" class="list-group-item list-group-item-action" (click)="showSuppliers()">
          Suppliers
        </button>
        <br><br>
        <button class="btn btn-danger btn-block" (click)="logout()">Logout</button>
      </div>
    </div>
  
    <!-- main Content -->
    <div class="col-lg-10 col-md-9 col-sm-8 main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
