

<div class="container-fluid ">

    <div class="row sticky">

      <div class="col-2">
        <div class="list-group mt-5">

           <p>Welcome {{username}}</p>

          <button type="button" class="list-group-item list-group-item-action" (click)="showProducts()">
            Products
          </button>
          <button type="button" class="list-group-item list-group-item-action" (click)="showCategories()">
            Categories
          </button>
          <button type="button" class="list-group-item list-group-item-action" (click)="showSuppliers()">
            Suppliers
          </button>
          <br>
          <br>
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
      </div>
  
      <div class="col-10 main-content">
        <div  *ngIf="renderer === ''">
          <app-product-list></app-product-list>
        </div>
        <div  *ngIf="renderer === 'Products'">
          <app-product-list></app-product-list>
        </div>
        <div  *ngIf="renderer === 'Categories'">
          <app-category-list></app-category-list>
        </div>
        <div  *ngIf="renderer === 'Suppliers'">
          <app-supplier-list></app-supplier-list>
        </div>
      </div>
    </div>
</div>
  