<div class="container">

  <h3 style="text-align: center;">Product Details</h3>

  <form [formGroup]="form" (ngSubmit)="submit() " class="form-control mt-4">
   
    <div class="row mt-4">
      <div class="col-lg-4">
        <label for="P_Id">Product ID:</label>
        <input
          type="number"
          id="P_Id"
          formControlName="P_Id"
          class="form-control"
        />
      </div>
      <div class="col-lg-4">
        <label for="P_Name">Product Name</label>
        <input
          type="text"
          id="P_Name"
          formControlName="P_Name"
          class="form-control"
        />
      </div>
      <div class="col-lg-4">
        <label for="P_Category">Product Category</label>
        <select
          id="P_Category"
          formControlName="P_Category"
          class="form-control"
        >
          <option *ngFor="let category of categories" [value]="category.C_Name">
            {{ category.C_Name }}
          </option>
        </select>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-4">
        <label for="P_Quantity">Product Quantity</label>
        <input
          type="number"
          class="form-control"
          formControlName="P_Quantity"
        />
      </div>
      <div class="col-lg-4">
        <label for="P_Price">Product Price</label>
        <input type="number" class="form-control" formControlName="P_Price" />
      </div>
      <div class="col-lg-4">
        <label for="P_Supplier">Product Supplier</label>
        <select
          id="P_Supplier"
          formControlName="P_Supplier"
          class="form-control"
        >
          <option *ngFor="let supplier of suppliers" [value]="supplier.S_Name">
            {{ supplier.S_Name }}
          </option>
        </select>
      </div>
    </div>
    <hr />
    <div class="submitButton">
      <button type="submit"  class="btn btn-primary">Submit</button>
    </div>
 
  </form>
  <br>
</div>
