<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Exam Details</h5>
            <p class="card-text mt-4"><strong>Total Questions : </strong> 10</p>
            <p class="card-text"><strong>Exam Type : </strong> General Knowledge</p>
            <a routerLink="/pages/user/dashboard/exam" class="btn btn-primary">Start Exam</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  