<div class="container-fluid bg-secondary" style="min-height: 95vh;">
    <header class="masthead text-white text-center justify-content-center d-flex align-items-center">

        <div class="container d-flex align-items-center flex-column ">
           <img class="mb-5 mt-5" src="../../../assets/avataaars.png" alt="">

            <h1 class="masthead-heading mb-0">WELCOME <br><br><strong style="color:chartreuse">{{ currentUser.name | uppercase}}</strong> </h1>
        </div>
    </header>

</div>
