<div class="container mt-5 bordered">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>User Info</h2>
      <div class="row mt-3">
        <div class="col-lg-4">
          <label for="userId"> User ID:</label>
          <input id="userId" class="form-control" type="number" formControlName="userId">
        </div>
        <div class="col-lg-4">
          <label for="username"> Username:</label>
          <input id="username" class="form-control" type="text" formControlName="userName">
        </div>
        <div class="col-lg-4">
          <label for="email"> Email:</label>
          <input id="email" class="form-control" type="text" formControlName="email">
        </div>
      </div>
      <hr>
      
      <!-- User Address -->
      <h2>Address :</h2>
      <div formArrayName="addresses">
        <div class="row mt-3" *ngFor="let address of addresses.controls; let i=index" [formGroupName]="i">
          <div class="col-lg-3">
            <label for="street-{{i}}">Street:</label>
            <input id="street-{{i}}" type="text" formControlName="street" class="form-control">
          </div>
          <div class="col-lg-3">
            <label for="city-{{i}}">City:</label>
            <input id="city-{{i}}" type="text" formControlName="city" class="form-control">
          </div>
          <div class="col-lg-2">
            <label for="state-{{i}}">State:</label>
            <input id="state-{{i}}" type="text" formControlName="state" class="form-control">
          </div>
          <div class="col-lg-2">
            <label for="zip-{{i}}">Pincode:</label>
            <input id="zip-{{i}}" type="text" formControlName="zip" class="form-control">
          </div>
          <!-- Delete button -->
          <div class="col-lg-2" *ngIf="i>=1">
            <br>
            <button class="btn btn-primary mt-2" type="button" (click)="deleteAddress(i)">Delete Address</button>
          </div>
        </div>
      </div>
      
      <!-- Add Address button -->
      <br>
      <button class="btn btn-primary" type="button" (click)="addAddress()">Add Address</button>
      
      <hr>
      
      <!-- Submit Button -->
      <div class="submit">
        <p>Complete the form to enable submit button.</p>
        <p>Form Status: {{ form.status }}</p>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
      </div>
    </form>
  </div>
  