<div class="container">
    <div class="d-flex justify-content-center mt-4">
        <h4>Your Exams History</h4>
    </div>
    <div class="row" *ngFor="let exam of exams">
        <div class="card mt-4">
            <div class="card-body">
                <p class="card-title">Date of Exam : {{exam[10].date}}</p>
                <p class="card-title">Time of Exam : {{exam[10].time}}</p>
                <p class="card-title">Score : {{exam[10].score}}</p>
                <button class="btn btn-primary" (click)="viewExam(exam)">View</button>
            </div>
        </div>
    </div>
</div>