<div class="maincontainer">
  <div class="container mt-2">
    <h1 style="text-align: center;">User Management System</h1>

    <app-user-manager 
      [user]="selectedUser"
      (userDataEvent)="receiveUserData($event)"
      (operationMsg)="receiveUserMsg($event)"> 
    </app-user-manager>

    <br>

    <ag-grid-angular
      style="width: 100%; height: 440px;"
      class="ag-theme-quartz-dark"
      [rowData]="users"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [pagination]="true">
    </ag-grid-angular>


  </div>
</div>

