<nav class="navbar navbar-dark bg-dark">

    <div class="container justify-content-space-between">
        <a class="navbar-brand">USER DASHBOARD</a>
        <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
</nav>


<div class="container-fluid">

    <div class="row">
   
      <div class="col-lg-2 col-md-3 col-sm-4 sidebar bg-secondary" style="min-height:94.8vh"> 
        <div class="list-group mt-5">
          <h5 class="text-center">Welcome <strong>{{username | uppercase}}</strong></h5>
          <br>
          <br>
          <button type="button" class="list-group-item btn" routerLink="exam">
            Exam
          </button>
          <br>
          <button type="button" class="list-group-item  btn" routerLink="review">
            Review
          </button>
          <br>
        </div>
      </div>
      <!-- main Content -->
      <div class="col-lg-10 col-md-9 col-sm-8 main-content">
            <router-outlet></router-outlet>
      </div>

    </div>
  </div>