

<div class="container">

    <div class="row justify-content-center">

        <div class="col-lg-6 mt-5">

            <form class="form-control" [formGroup]="loginForm" (ngSubmit)="login()">
                <h2>Login Form</h2>
                <div class="row mt-4">
                    <div class="col-lg">
                        <label for="username">Username :</label>
                        <input type="text" class="form-control" id="username" formControlName="username">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg">
                        <label for="password">Password :</label>
                        <input type="text" class="form-control" id="password" formControlName="password">
                    </div>
                </div>
                <p style="color: red;" *ngIf="errorMsg">{{errorMsg}}</p>
                <hr>
                <div class="buttons">
                    <button class="btn btn-primary" type="submit">Login</button>
                    <button class="btn btn-success"  routerLink="/signup" >New User?</button>
                </div>
    
            </form>
     
        </div>
    </div>

</div>