<div class="container mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-4">
            <h5>SignUp Page</h5>

            <form class="form-control" [formGroup]="signupForm" (ngSubmit)="signUp()">
                <div class="row">
                    <div class="col-lg-12">
                        <label for="name">Enter Your Name</label>
                        <input type="text" class="form-control" id="name" formControlName="name">
                    </div>
                    <div class="col-lg-12">
                        <label for="email">Enter Your Email</label>
                        <input type="text" class="form-control" id="email" formControlName="email">

                        <!-- validation  -->
                        <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
                            <div *ngIf="signupForm.get('email')?.errors?.['required']">
                                <p style="color: red;">Email is required</p>
                            </div>
                        </div>

                        <div *ngIf="signupForm.get('email')?.errors?.['email']">
                            <p style="color: red;">Provide Correct Email Address</p>
                        </div>

                    </div>
                    <div class="col-lg-12">
                        <label for="password">Enter Your Password</label>
                        <input type="text" class="form-control" id="password" formControlName="password">

                        <!-- validation  -->
                        <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
                            <div *ngIf="signupForm.get('password')?.errors?.['required']">
                                <p style="color: red;">Password is required</p>
                            </div>
                        </div>

                    </div>
                    <!-- for roles  -->

                    <div class="col-lg-4">
                        <label for="role">ROLE:</label>
                        <select id="role" formControlName="role" class="form-control">
                            <option value="user" selected>
                                User
                            </option>
                            <option value="admin">
                                Admin
                            </option>

                        </select>
                    </div>
                </div>
                <hr>
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">SignUp</button>
                    </div>

                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-success" routerLink="/login">Login</button>
                    </div>

                    <p style="color: red" *ngIf="erroMsg">{{erroMsg}}</p>
                </div>
            </form>

        </div>
    </div>
</div>